{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="icon" href="">  Icono de la pagina--> 

    <link  type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Inicio</title>
</head>
<body>

    <header>

        <h1>FoodCritics</h1>

        <b>Perfil</b>
        <b>Puntos 0</b>

    </header>
    
    <nav>

        <ul>
            <h2>Categorias</h2>
            <b>No disponible</b>
        </ul>
        <a href="mapa" style="font-size: 25px;">Mapa</a>

    </nav>

    <section>

        <div class="restaurantes">

            <!-- Imprime la informacion de cada uno de los restaurantes encontrados --> 

            {% for restaurant in restaurants %}

                <div class="restaurante">

                    <a href="restaurante?restaurant={{restaurant.place_id}}">
 
                        <b>{{restaurant.name}}</b>

                        {% if restaurant.rating %}

                            <p><strong>Puntuacion:</strong> {{restaurant.rating}}</p>

                        {% else %}

                            <p><strong>Aun no hay puntuaciones</strong></p>

                        {% endif %}

                        <p><strong>Direccion:</strong> {{restaurant.address}}</p>
    
                    </a>
                    
                </div>

            {% endfor %}

        </div>

    </section>

    <footer>

        <b>Quienes somos y contacto</b>

    </footer>
    
</body>
</html>