{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Restaurante</title>
</head>
<body>

    <header>

        <h1>FoodCritics</h1>

        <b>Perfil</b>
        <b>Puntos 0</b>

    </header>

    <section>

        <h1>Estamos viendo el restaurante {{restaurante.name}} ------ Puntuación: {{restaurante.review.rating}}</h1>

        <h3>Comentarios totales: {{restaurante}}</h3>

        <div class="comentarios">

            {%if restaurante.review.reviews%}

                {%for review in restaurante.review.reviews%}

                    <div class="comentario">
    
                        <b><strong>Nombre: </strong>{{review.author}}</b>

                        {% if review.text %}

                            <p><strong>Comentario: </strong>{{review.text}}</p>

                        {% else %}

                            <p>Sin comentario.</p>

                        {% endif %}
                        
                        <p><strong>Puntuacion: </strong>{{review.rating}}</p>
                        <br>

                    </div>
                
                {%endfor%}
    
            {%else%}
    
                <p><strong>Aun no existen comentarios, se el primero en hacerlo. </strong></p>
    
            {%endif%}

        </div>

    </section>

</body>
</html>