
.column{
    flex:0 0 auto;
    width:33.33333333%;
    background-color:#F1A661;

}
.column:hover{
    background-color:#E38B29;
}
.back{
    background-color: #FDEEDC;
}
.botones{
    background-color: #F1A661;
    font-family: Arial;
}
.botones:hover{
    background-color: #E38B29;
}
.bg-section{
    background-color: rgb(255, 216, 169);
}
header.masthed {
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.features-icon {
    padding-top: 4rem;
    padding-bottom: 7rem;
}